# .gitattributes

# Aliases
[attr]crlf eol=crlf

# Normalize
* text=auto eol=lf

# Windows
*.bat crlf
*.ps1 crlf

# Codeberg & GitHub: syntax hightlight...
*.entitlements linguist-language=XML
*.json         linguist-language=JSONC
*.in           linguist-language=INI
*.iss          linguist-language=INI
*.plist        linguist-language=XML
/script/*      linguist-language=SHELL
/script/*.hbs  linguist-language=HANDLEBARS
/script/*.ps1  linguist-language=POWERSHELL
/script/*.py   linguist-language=PYTHON
/script/*.toml linguist-language=TOML

#... and statistics
*.json         linguist-detectable
*.jsonc        linguist-detectable
# *.md         linguist-detectable
