.DS_Store
.idea
.vscode
*.xcodeproj
.swiftpm
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
/gram.xcworkspace
DerivedData/
xcuserdata/

# Don't commit any secrets to the repo.
.env
.env.secret.toml
.envrc
.netrc

**/target
**/cargo-target
**/venv
.venv
/node_modules/
/script/node_modules
Packages
vendor/*/grammars

.build
.flatpak-builder
.wrangler
.perf-runs
**/.direnv
.pytest_cache
**/*.db
*.pyc
*.wasm
index.scip
**/*~lock~

/assets/*licenses.*
/crates/collab/seed.json
/crates/gram/resources/arch/PKGBUILD
/crates/gram/resources/arch/gram-*
/crates/gram/resources/flatpak/flatpak-cargo-sources.json
/crates/gram/resources/gram.desktop
/crates/project_panel/benches/linux_repo_snapshot.txt
/crates/theme/schemas/theme.json
/plugins/bin
/snap
/se.ziran.gram*.json
gram-*linux*.gz
.blob_store
